* {
  margin: 0;
  background-color: rgb(148, 39, 90);
  color: rgb(223, 183, 183);
  cursor: pointer;


}


header {
  background-color: #333;
  color: #fff;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding: 0px;

}

nav a:hover {
  text-decoration: underline yellow;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 0px;
  text-align: center;
}

.background {
  background-color: rgb(209, 109, 156);
  color: white;
  padding: 0px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat; background-size: cover;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}
 p {
  font-size: 20px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: italic;
}
